<script type='text/x-handlebars-template' id='event_header'>
    <div class='events-header affix'>
        <div class='row'>
            <div class='col-xs-2'>
                <div class='pull-left'>
                    <i class='fa fa-plus'></i>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='text-center'>
                    {{events_label}}
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    <i class='fa fa-trash-o'></i>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</script>

<script type='text/x-handlebars-template' id='event_structure'>
    <div class='container'>
        {{#each events}}
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-10'>
                            <h3 class='panel-title'>
                                {{this.name}}
                            </h3>
                        </div>
                        <div class='col-xs-2'>
                            <div class='pull-right'>
                                <i class='fa fa-pencil'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body'>
                    <div class='text-center'>
                        <h1 style='font-size: 60px;'>
                            {{this.total}} &euro;
                        </h1>
                    </div>
                </div>
                <div class='panel-footer'>
                    <div class='row'>
                        <div class='col-xs-4'>
                            <div class='pull-left'>
                                {{#each this.users}}
                                    <img src='{{this.image_url}}' class='img-responsive img-circle user-footer'>
                                {{/each}}
                            </div>
                        </div>
                        <div class='col-xs-8'>
                            <div class='pull-right' style='line-height: 24px;'>
                                <!-- http://www.bootply.com/92189 -->
                                {{#if this.status}}
                                    <div class='btn-group btn-toggle'>
                                        <button class='btn btn-xs btn-success active'>{{../../ongoing_label}}</button>
                                        <button class='btn btn-xs btn-default'>{{../../finished_label}}</button>
                                    </div>
                                {{else}}
                                    <div class='btn-group btn-toggle'>
                                        <button class='btn btn-xs btn-default'>{{../../ongoing_label}}</button>
                                        <button class='btn btn-xs btn-danger active'>{{../../finished_label}}</button>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</script>

<script type='text/x-handlebars-template' id='activity_header'>
    <div class='events-header affix'>
        <div class='row'>
            <div class='col-xs-2'>
                <div class='pull-left'>
                    <i class='fa fa-arrow-left'></i>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='text-center'>
                    {{activities_label}}
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    <i class='fa fa-trash-o'></i>
                </div>
            </div>
        </div>
    </div>
    <hr>
</script>

<script type='text/x-handlebars-template' id='activity_structure'>
    <div class='container'>
        {{#each activities}}
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-10'>
                            <h3 class='panel-title'>
                                {{this.name}}
                            </h3>
                        </div>
                        <div class='col-xs-2'>
                            <div class='pull-right'>
                                <i class='fa fa-pencil'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body activity-panel'>
                    <div class='text-center'>
                        <h1 class='activity-total'>
                            {{this.total}} &euro;
                        </h1>
                    </div>
                </div>
                <div class='panel-footer'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <div class='activity-location'>
                                <i class='fa fa-map-marker' style='color: #d34836;'></i> {{this.location}}
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <div class='pull-right'>
                                {{#each this.users}}
                                    <img src='{{this.image_url}}' class='img-responsive img-circle activity-user'>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</script>