<script type='text/x-handlebars-template' id='event_header'>
    <div class='events-header affix'>
        <div class='row'>
            <div class='col-xs-2'>
                <div class='pull-left'>
                    <i class='fa fa-plus'></i>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='text-center'>
                    {{events_label}}
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    <i class='fa fa-trash-o'></i>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</script>

<script type='text/x-handlebars-template' id='event_structure'>
    <div class='container'>
        {{#each events}}
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-10'>
                            <h3 class='panel-title'>
                                {{this.name}}
                            </h3>
                        </div>
                        <div class='col-xs-2'>
                            <div class='pull-right'>
                                <i class='fa fa-pencil'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body'>
                    <div class='text-center'>
                        <h1 style='font-size: 60px;'>
                            {{this.total}} &euro;
                        </h1>
                    </div>
                </div>
                <div class='panel-footer'>
                    <div class='row'>
                        <div class='col-xs-4'>
                            <div class='pull-left'>
                                {{#each this.users}}
                                    <img src='{{this.image_url}}' class='img-responsive img-circle user-footer'>
                                {{/each}}
                            </div>
                        </div>
                        <div class='col-xs-8'>
                            <div class='pull-right' style='line-height: 24px;'>
                                <!-- http://www.bootply.com/92189 -->
                                {{#if this.status}}
                                    <div class='btn-group btn-toggle'>
                                        <button class='btn btn-xs btn-success active'>{{../../ongoing_label}}</button>
                                        <button class='btn btn-xs btn-default'>{{../../finished_label}}</button>
                                    </div>
                                {{else}}
                                    <div class='btn-group btn-toggle'>
                                        <button class='btn btn-xs btn-default'>{{../../ongoing_label}}</button>
                                        <button class='btn btn-xs btn-danger active'>{{../../finished_label}}</button>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</script>

<script type='text/x-handlebars-template' id='activity_header'>
    <div style='background-color: #337ab7; color: #fff; padding: 8px;'>
        <div class='row'>
            <div class='col-xs-2'>
                <div class='pull-left'>
                    <i class='fa fa-arrow-left'></i>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='text-center'>
                    Activities
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    <i class='fa fa-trash-o'></i>
                </div>
            </div>
        </div>
    </div>
    <hr>
</script>

<script type='text/x-handlebars-template' id='activity_structure'>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <div class='row'>
                <div class='col-xs-10'>
                    <h3 class='panel-title'>
                        Pranzo da Felice
                    </h3>
                </div>
                <div class='col-xs-2'>
                    <div class='pull-right'>
                        <i class='fa fa-pencil'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class='panel-body' style='position: relative; top: 0px; background-image: url("images/card.jpg"); background-size: cover; -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))'>
            <div class='text-center'>
                <h1 style='font-size: 75px; z-index: 100; color: #fff; font-weight: 900; -webkit-text-fill-color: white; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;'>
                    42 &euro;
                </h1>
            </div>
        </div>
        <div class='panel-footer'>
            <div class='row'>
                <div class='col-xs-6'>
                    <div style='width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 24px; text-size: 24px;'>
                        <i class='fa fa-map-marker' style='color: #d34836;'></i> Da Felice, Piazza Testaccio 12, 00100, Rome, Italy
                    </div>
                </div>
                <div class='col-xs-6'>
                    <div class='pull-right'>
                        <img src='images/avatar-0.jpg' class='img-responsive img-circle' style='height: 24px; width: 24px; float: right;'>
                        <img src='images/avatar-1.jpg' class='img-responsive img-circle' style='height: 24px; width: 24px; float: right;'>
                        <img src='images/avatar-2.jpg' class='img-responsive img-circle' style='height: 24px; width: 24px; float: right;'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>